name: Docker Build & Push

on:	
  push:
    branches: [ master ]

jobs:
  docker:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push
      run: |
        docker build -t adamaniang12/mon-projet-php:latest .  # Changé pour construire depuis la racine (ajustez le chemin si nécessaire)
        docker push adamaniang12/mon-projet-php:latest